<nav>
    <ul id="nav-menu">
        <li ><a class="nav-boton" href="/">Inicio</a></li>
        <li ><a class="nav-boton" href="/users">Usuarios</a></li>
        <li ><a class="nav-boton" href="/users/register">Registrar</a></li>
        <li ><a class="nav-boton" href="">Eliminar</a></li>
        <li ><a class="nav-boton" href="">Modificar</a></li>
        <li ><a class="nav-boton" href="">Recuperar Contraseña</a></li>
        <li ><a class="nav-boton" href="/users/searchById">Buscar por ID</a></li>
    </ul>
</nav>