<nav>
    <ul id="nav-menu">
        <li ><a class="nav-boton" href="/">Inicio</a></li>
        <li ><a class="nav-boton" href="/users">Usuarios</a></li>
        <li ><a class="nav-boton" href="/users/register">Registrar</a></li>
        <li ><a class="nav-boton" href="/users/login">login</a></li>
        <li ><a class="nav-boton" href="/message">Mensajes</a></li>
        <li ><a class="nav-boton" href="/users/pass-form">Recuperar Contraseña</a></li>
    </ul>
</nav>