<nav>
    <ul id="nav-menu">
        <li><a href="/users">Usuarios</a></li>
        <li><a href="/users/register"></a>Registrar</li>
        <li><a href=""></a>Eliminar</li>
        <li><a href=""></a>Modificar</li>
        <li><a href=""></a>Recuperar Contraseña</li>
    </ul>
</nav>