<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <%- include("./partials/nav.ejs")%>

    <p>Para borrar, actualizar usuarios y crear mensajes usar postman</p>

    
    <%if(datos.info){%>
        <%= datos.info%>
    <% } %>

</body>
</html>