<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body> 
    <%- include("./partials/nav.ejs")%>    
     <main>
     <h1>USUARIOS</h1>
        <%= datos.result%>
    </main>
</body>
</html>