<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
    <link rel="stylesheet" href="../formStlye.css">
</head>
<body> 
    <%- include("./partials/nav.ejs")%>    
     <main>
     <h1>Recuperar Contraseña</h1>

     <form action="/users/forgot-pass" method="post">
        <div class="input-container">
            <label for="email">Email</label>
            <input type="text" placeholder="Email" autocomplete="Email" name="email" >
        </div>
        <div id="boton-enviar-container"><input type="submit" value="Enviar"></div>
    </form>

    <style>
        #link{
            width: 60%;
            height: 30vh;
            /* text-align: center; */
            word-wrap: break-word;
        }
    </style>

    <%if(datos.hasOwnProperty('link')){%>
        <div id="link"><%=  datos.link %></div>
        <p> <%= datos.message%></p>
    <% } %>

    </main>
</body>
</html>