<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <style>
        main{
            width: 100%;
            height: 100vh;

            display: flex;
            flex-direction: column;

            align-items: center;

        }

        #userName{
            color:red;
        }
        
        input{
            width: 200px;
            margin-bottom: 30px;
            
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
     </style>
     <!-- cosas -->
     <main>
     <h1>Resetear Contraseña</h1>

     <form action="/users/register" method="post">
        <div>
            <label for="name">Nombre</label>
            <input type="text" maxlength="15" placeholder="Introdusca lNombre" autocomplete="Nombre" name="name" >
        </div>
        <div>
            <label for="userName">Contraseña Nueva</label>
            <input type="text" maxlength="15" placeholder="Introdusca nombre de usuario" autocomplete="Contraseña Nueva" name="userName" >
        </div>
        <div>
            <label for="email">Repetir contraseña</label>
            <input type="text" maxlength="15" placeholder="Reescriba email" autocomplete="email" name="email" >
        </div>
        <div>
            <label for="password">Contraseña Nueva</label>
            <input type="password" maxlength="15" placeholder="Introdusca la nueva contraseña" autocomplete="Contraseña Nueva" name="password" autofocus>
        </div>

        <input type="submit" value="Enviar">
    </form>

    </main>
</body>
</html>